<div class="center jumbotron">
  <div class="content">
    <h1>
      Welcome to the
      <h1>Tabisora</h1>
    </h1>
    <p><%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
  </div>
</div>
