<div class="modal modal-change modal-close" id="Modal-<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" data-dismiss="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" data-dismiss="modal">
        <%= image_tag(image) %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'trips/modal' %>
