<button class="garally" id="trip-<%= trip.id %>">
  <%= link_to trip do %>
    <span class="garally-title"><%= trip.title %></span>
    <%= image_tag trip.top_image, alt: "trip-image" %>
  <% end %>
</button>
