<div class="example">
  ログインより、以下のサンプルユーザーにログインできます
  <p></p>
  <ul>
    <li class="name"><strong>Example User</strong></li>
    <li>メールアドレス: example@user.org</li>
    <li>パスワード: foobar</li>
    <p></p>
    <li class="name"><strong>Another User</strong></li>
    <li>メールアドレス: another@user.org</li>
    <li>パスワード: hogehoge</li>
    <div class="relation">
      <strong>関連サービス</strong>
      <p><%= link_to "・SHAREPHOTO", "https://mysterious-headland-92680.herokuapp.com/",
                             target: "_blank", rel: "noopener noreferrer" %></p>
    </div>
  </ul>
</div>
