<li>
  <div class="memo">
    <%= memo.address %>
    <%=simple_format(memo.content)%>
    <div class="delete">
      <%= link_to "削除", memo, method: :delete,
          data: { confirm: "本当に削除しても、よろしいでしょうか？" } %>
    </div>
  </div>
</li>
