<div class="alert">
  <% if notice.present? %>
    <div class="alert alert-success"><%= notice %></div>
  <% elsif alert.present? %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>
</div>
<% flash.each do |message_type, message| %>
  <% if message != notice %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
<% end %>
